<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">When I woke up this morning, I began to dream</h2>
        <hr class="light">
        <p class="text-faded">Rest time is over. It's time to get to work. Now, that's the dream. The grind, the learning, the growing, the building. That's what I love—that every day I am blessed to be able to work and build my own future with my own two hands.</p>

        <p>I was a well-established Project Manager who worked alongside large automobile companies on various software projects. I began playing with code to better understand the products I was involved with, and before I knew it I had become a professional software developer.</p>

        <p>Web Development was both a natural and unnatural fit. I was already familiar with web software working in the automotive industry, but I was coming at it from a totally non-technical direction. This unique perspective helps me empathize with clients while also understanding the importance of delivering quality code.</p>
      </div>
    </div>
  </div>
</section>
