<section id="contact">
  <div class="container contact-me">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-2 text-center">
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>linkedin.com/in/{{ site.linkedin_username }}</p>
        </a>
      </div>
      <div class="col-lg-4 col-lg-pull-1 text-center">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ site.email }}</p>
        </a>
      </div>
      <div class="col-lg-3 col-lg-pull-2 text-center">
        <a href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>github.com/{{ site.github_username }}</p>
        </a>
      </div>
    </div>
  </div>
</section>
