<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary"></i>
          <h3 class="wow bounceIn">Skills</h3>
          <ul class="text-muted wow bounceIn" data-wow-delay=".1s">
            <dd>Front-end Development</dd>
            <dd>Server-side Scripting</dd>
            <dd>Test-Driven Development</dd>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3 class="wow bounceIn" data-wow-delay=".1s">Tools</h3>
          <ul class="text-muted wow bounceIn" data-wow-delay=".1s">
            <dd>Ruby on Rails</dd>
            <dd>HTML, CSS & JavaScript</dd>
            <dd>RSpec</dd>
            <dd>Amazon Web Services (AWS)</dd>
            <dd>MySQL</dd>
            <dd>React / Redux</dd>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3 class="wow bounceIn" data-wow-delay=".2s">Interests</h3>
          <ul class="text-muted wow bounceIn" data-wow-delay=".2s">
            <dd>Health & Fitness</dd>
            <dd>Volleyball</dd>
            <dd>Video games</dd>
            <dd>Traveddng</dd>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3 class="wow bounceIn" data-wow-delay=".3s">Locations</h3>
          <ul class="text-muted wow bounceIn" data-wow-delay=".3s">
            <dd>Los Angeles, USA</dd>
            <dd>Tokyo, Japan</dd>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
